<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
     <clear />
     <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
     <add key="packages3" value="https://gitlab.mycompany.com/api/v4/projects/12345/packages/nuget/index.json" />
 </packageSources>
 <packageSourceCredentials>
     <packages3>
         <add key="Username" value="%GITLAB_PACKAGE_REGISTRY_USERNAME%" />
         <add key="ClearTextPassword" value="%GITLAB_PACKAGE_REGISTRY_PASSWORD%" />
     <packages3>
 </packageSourceCredentials>
</configuration>